{
    "rules": {
        "@typescript-eslint/consistent-type-imports": [
            "error",
            {
                "prefer": "type-imports",
                "fixStyle": "seperate-type-imports"
            }
        ]
    },
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "@biased-ts/eslint-config/ProperTS",
        "@biased-ts/eslint-config/ProperDoc"
    ],
    "ignorePatterns": [
        "examples",
        "examples/**",
        "examples/**.**"
    ],
    "root": true,
    "parserOptions": {
        "project": [
            "./tsconfig.json"
        ]
    }
}